<!DOCTYPE html>
<html ng-app="myApp">
  <head>
  	<% include partials/page/head.ejs %>
  </head>
  <body class="content">
  
    <% include partials/page/content.ejs %>
    
    <% include partials/page/JSscripts.ejs %>
    </body>
</html>
